

@if (Model.Films.Count > 0)
{
    @foreach (var f in Model.Films)
    {
        
    <div class="film_ticket">
        <div class="info">
            <h1>@f.name</h1>
            <h2>Жанр: </h2>
            <p>@f.genre.name</p>
            <h2>Актёры: </h2>
            <p>
                @foreach (var fa in f.FilmActor)
                {
                    @fa.Actor.fullName
                    <br />
                }
            </p>
        </div>
        <div class="cardWrepper">
            <div class="card">
                <div class="poster" style="background-image: url('img/@f.imgPath');"></div>
            </div>
        </div>
    </div>
    }

}
else
{
    <p>Фильмов не найдено</p>
}
