

@if (Model.Films.Count > 0)
{
    @foreach (var f in Model.Films)
    {
        <h1>@f.name</h1>
        <h2>Жанр: </h2>
        @f.ganre.name
        <br />
        <h2>Актёры: </h2>
        <br />
        @foreach (var fa in f.FilmActor)
        {
            @fa.Actor.fullName
            <br />
        }

        <br />
    }
}
else
{
    <p>Фильмов не найдено</p>
}
